nav a img{
    margin-left: -40px;
    width: 100px;
    height: 60px;
    object-fit: contain;
}



@media (max-width: 600px) {

    .image-thumb{
     width: 200px;
    }
    
     
  
  }


@media (min-width: 600px) {
    
    .image-thumb{
        width: 500px;
    }
    
     
  
  }




.tarjetaEntrenadores p{
    margin-top: -25px;
    
}

#carousel {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none; /* Hide the scrollbar for MS Edge */
    scrollbar-width: none; /* Hide the scrollbar for Mozilla Firefox */
    margin: 0 auto 0 auto;
    width: 90vw;
    height: fit-content;  
    border: solid #F3E6FF .5px;
  }
  
  #carousel::-webkit-scrollbar {
    display: none; /* Hide the scrollbar on Webkit based browsers (Chrome, Safari, etc) */
    -webkit-overflow-scrolling: touch; /* On touch screens the content continues to scroll for a while after finishing the scroll gesture */
  }
  
  .item {
    margin: 25px;
    font-size: 5em;
    text-align: center;
    line-height: 70px;
    border-radius: 7px;
    width: 100%;
  }


  /* galeria */

  .accordian {
	width: 805px; height: 320px;
	overflow: hidden;
	
	/*Time for some styling*/
	margin: 100px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 160px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 640px;}


.accordian li img {
	display: block;
  width: 700px;
  cursor: pointer;
  object-fit: contain;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
width: 640px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 16px;
}

#galery .main-rounded-button-galery a {
    text-align: center;
    padding: 20px 30px;
    width: 30%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    color: #fff;
    font-size: 19px;
    letter-spacing: 0.5px;
    font-weight: 600;
    background-color: #d60100;
    margin: auto;
  }
  #galery .main-rounded-button-galery a:hover {
    background-color: #f9735b;
  }


  /* complete galery */

  .img {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 10px;
}
/* GRID */
.grid {
    padding: 0 8vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto, 1fr);/*Hauteur des lignes*/
    grid-gap: 20px;
    width: 100%;
}

/* GALLERY */

#complete-galery{
    margin-top: 60px;

}

.galery{
    grid-column: 1 / 13;
    margin-bottom: 5vh;

}

.galery .grid{
    grid-template-rows: repeat(5, 30vw);
    padding: 0;
}

.h1 {
    grid-column: 1 / 13;
    grid-row: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin: 5vh 0;
}

.item1,.item2,.item3 {grid-row: 1 ;}
.item4,.item5,.item6 {grid-row: 2 ;}
.item7,.item8,.item9 {grid-row: 3 ;}
.item10,.item11,.item12 {grid-row: 4 ;}
.item13,.item14,.item15 {grid-row: 5 ;}

.item1,.item4,.item7,.item10,.item13 {grid-column: 1 / 5;}
.item2,.item5,.item8,.item11,.item14 {grid-column: 5 / 9;}
.item3,.item6,.item9,.item12,.item15 {grid-column: 9 / 13;}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out;
}

.gallery-image:hover {
    transform: scale(1.15);
}


@media screen and (max-width:619px) 
{
	    /* GALLERY */
    .galery .grid {
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: repeat(5, 50vh);
    }
    
    .item1 {grid-row: 1 ;}
    .item2 {grid-row: 2 ;}
    .item3 {grid-row: 3 ;}
    .item4 {grid-row: 4 ;}
    .item5 {grid-row: 5 ;}
    .item6 {grid-row: 6 ;}
    .item7 {grid-row: 7 ;}
    .item8 {grid-row: 8 ;}
    .item9 {grid-row: 9 ;}
    .item10 {grid-row: 10 ;}
    .item11 {grid-row: 11 ;}
    .item12 {grid-row: 12 ;}
    .item13 {grid-row: 13 ;}
    .item14 {grid-row: 14 ;}
    .item15 {grid-row: 15 ;}
    
    .item1,.item4,.item7,.item10,.item13,.item2,.item5,.item8,.item11,.item14,.item3,.item6,.item9,.item12,.item15 {grid-column: 1;}
}